@font-face {
  font-family: 'open_sans';
  src: url(/Open_Sans\,Sevillana\,Signika_Negative/Open_Sans/font1.ttf)
    format('truetype');
}
@font-face {
  font-family: 'sevillana';
  src: url(/Open_Sans\,Sevillana\,Signika_Negative/Sevillana/font2.ttf)
    format('truetype');
}
@font-face {
  font-family: 'signika';
  src: url(/Open_Sans\,Sevillana\,Signika_Negative/Signika_Negative/font3.ttf)
    format('truetype');
}
@font-face {
  font-family: 'pacifico';
  src: url(/Open_Sans\,Sevillana\,Signika_Negative/Pacifico/font4.ttf)
    format('truetype');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --primary-color: #ffd622;
}

body {
  background-image: url(/img/pizza-pepperoni-on-the-table_1.5.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'open_sans', sans-serif;
  max-height: 100vh;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 13vh;
  z-index: 1;
  top: 0;
  left: 0;
  font-weight: bolder;
  font-size: 17px;
  background-color: rgba(36, 36, 36, 0.61);
  border-bottom: 3px ridge #ff0000a6;
}
a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.8s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
.info {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
  margin-left: 90px;
}
.captions {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Sevillana', cursive;
}

.caption1 {
  font-size: 50px;
  font-weight: inherit;
  padding: 0;
  margin: 180px 0px 20px;
}

.caption2 {
  font-size: 55px;
  font-weight: inherit;
}

.divider {
  border-bottom: 3px solid #ff0000ab;
  margin: 0 250px;
}

.click {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > .btn {
  margin: 0px 25px 0px;
}
.btn {
  color: #ff0000ab;
  background-color: var(--primary-color);
  font-family:  'Open Sans' , sans-serif;
  font-size: large;
  border: none;
  border-radius: 20px;
  padding: 15px 25px;
  margin: 60px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  color: var(--primary-color);
  background-color: rgba(44, 44, 44, 0.4);
}

.mid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  padding: 340px 0px 0px;
  margin: 0 auto;
  max-width: 70vw;
  font-weight: 500;
  line-height: 2.2;
}
#des-title {
  font-size: 35px;
  line-height: 1.5;
 font-family: 'pacifico';
}
.mid>section{
display: flex;
flex-direction: column;
gap: 30px;
}

.mid-img {
  height: 350px;
  width: auto;
  border-radius:15px;
}
hr{
  width: 80vw;
  margin: 80px auto;
  height: 5px;
  background-color: #eee;
  border: 0;
}
.menu {
  /* background-color: rgba(250, 235, 215, 0.753); */
  background-color: #cdd6d03b;
  font-family: system-ui, sans-serif;
  padding: 25px 20px;
}

.menu-name {
  text-align: center;
  padding: 25px 0;
  text-decoration: underline;
}
.pizza {
  position: relative;
  width: 15rem;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.pizza:hover {
  transform: scale(1.05) rotate(40deg);
}
.menu-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.pizza_card{
  border-radius: 20px;
  padding: 10px;
  height: 70vh;
  /* box-shadow: 2px 5px 5px var( --primary-color); */
}
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(228, 228, 228, 0.801);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 153, 0, 0.842);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(233, 72, 72, 0.87);
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.user-contact {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  font-size: 35px;
  list-style: none;
}
.user-contact a {
  color: slategrey;
}
.ft-center {
  color: slategray;
  margin: 0 auto;
  width: 20%;
  text-align: center;
}

footer {
  background-color: rgb(32, 32, 32);
  padding: 5px;
}
.takeup {
  font-size: 3.2em;
  color: var(--primary-color);
}
.GoTop {
  position: fixed;
  right: 20px;
  bottom: 15px;
  display: none;
}
